.App {
    margin-left: 30px;
}

.indicatorBtn {
    display: inline-block;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
}
.on {
    background-color: lawngreen;
}
.off {
    background-color: red;
    color: white;
}

.led {
    display: inline-block;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left: 5px;
}
span {
    cursor: pointer;
}
.starContainer {
    margin: 10px 0;
}
.star {
    width: 18px;
    height: 18px;
}
ul {
    margin: 0;
    padding-left: 30px;
}